.menu{
    color: var(--Almost-Black);
}
.menu__button{
    background-image: url('./images/icon-menu.svg');
    width: 45px;
    height: 35px;
    position: fixed;
    top: 25px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
}