.page__content {
  padding: 0;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
}
.text {
  color: var(--Medium-Gray);
  font-size: 4.4vw;
  padding: 0 15px;
  margin-top: 25px;
  cursor: zoom-in;
}
.button {
  border: none;
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 13px 15px;
  border-radius: 13px;
  margin-top: 25px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  text-align: left;
}
.button:hover {
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
  border: 2px solid var(--Almost-Black);
}
.images__container {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.image {
  display: block;
}
@media screen and (min-width: 620px) {
  .title {
    font-size: 3.5rem;
  }
  .text {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .page__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .title {
    font-size: 5rem;
    text-align: left;
  }
  .text {
    font-size: 1.3rem;
    text-align: left;
    padding-left: 0;
  }
  .button {
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .images__container {
    width: 100%;
    justify-content: space-between;
  }
}
